{% extends 'admin/baseBack.html.twig' %}

{% block title %}Cours index{% endblock %}
{% block path %}
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Cours</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('cours_index') }}">Cours</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="{{ path('cours_index') }}">Liste des Cours</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NbHeure</th>
                <th>Image</th>
                <th>NomCoach</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.nom }}</td>
                <td>{{ cour.nbHeure }}</td>
                <td><img src ="{{ asset('uploads/images/' ~ cour.image) }}"
                         alt =""style = "width:80px ; height:80px" ></td>
                <td>{{ cour.nomCoach }}</td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Create new</a>
{% endblock %}
