{% extends 'admin/baseBack.html.twig' %}

{% block title %}Evenement index{% endblock %}
{% block path %}
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Evenements </h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Accueil</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('evenement_index') }}">Evenements</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="{{ path('evenement_index') }}">Liste des Evenements</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.type }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}">Create new</a>
{% endblock %}
