{% extends 'baseFront.html.twig' %}


{% block body %}
           <div class="products-grid-view"  >

            <ul>  {% for cour in cours %}
                    <li class="grid__item item-row  wide--one-quarter post-large--one-third large--one-half medium--one-half small-grid__item  medium--one-half small--one-half   on-sale" id="product-1961821405284">

                        <div class="products product-hover-14 wow fadeInUp animated">
                            <div class="product-container">


                                <a href="../products/stereo-headphones-black.html" class="grid-link">
                                    <div class="ImageOverlayCa"></div>
                                    <div class="reveal">
        <span class="product-additional">
          <img src="{{ asset('uploads/images/' ~ cour.image) }}" class="featured-image" alt="Stereo Headphones (Black)">
        </span>
                                        <img  src="{{ asset('uploads/images/' ~ cour.image) }}" class="hidden-feature_img" alt="Stereo Headphones (Black)" />
                                    </div>
                                </a>
                                <div class="ImageWrapper">
                                    <div class="product-button">
                                        <a href="{{ path('cours_showC', {'id': cour.id}) }}" >

                                            <i> Détaill</i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="product-detail">

                                <a href="../products/stereo-headphones-black.html" class="grid-link__title">{{ cour.nom }}</a>
                                <div class="grid-link__meta">



                                    <div class="product_price">
                                        <div class="grid-link__org_price" id="ProductPrice">
                                            <span> {{ cour.nomCoach }} DT</span>
                                        </div>
                                    </div>
                                    <span class="shopify-product-reviews-badge" data-id="1961821405284"></span>
                                </div>
                            </div>
                        </div>
                    </li> {% endfor %} </ul>
        </div>

{% endblock %}
