{% extends 'admin/baseBack.html.twig' %}

{% block title %}Abonnement index{% endblock %}
{% block path %}
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Abonnemnts </h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Accueil</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('abonnement_index') }}">Abonnements</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="{{ path('abonnement_index') }}">Liste des Abonnements</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duree</th>
                <th>Prix</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.id }}</td>
                <td>{{ abonnement.duree }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.type }}</td>
                <td>
                    <a href="{{ path('abonnement_show', {'id': abonnement.id}) }}">show</a>
                    <a href="{{ path('abonnement_edit', {'id': abonnement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
